manutencaoapp/__pycache__/*
/apps/tipoDeServico/__pycache__/*
/apps/tipoDeServico/migrations/*
/apps/servicos/__pycache__/*
/apps/servicos/migrations/*
/apps/tecnico/__pycache__/*
/apps/tecnico/migrations/*
/apps/cliente/__pycache__/*
/apps/cliente/migrations/*