manutencaoapp/__pycache__/*
/apps/tipoDeServico/__pycache__/*
/apps/tipoDeServico/migrations/*
/apps/servicos/__pycache__/*
/apps/servicos/migrations/*
/apps/tecnico/__pycache__/*
/apps/tecnico/migrations/*
/apps/cliente/__pycache__/*
/apps/cliente/migrations/*
/apps/endereco/__pycache__/*
/apps/endereco/migrations/*
/apps/ordemServico/__pycache__/*
/apps/ordemServico/migrations/*
/apps/ordemServicoItem/__pycache__/*
/apps/ordemServicoItem/migrations/*
/apps/equipamento/__pycache__/*
/apps/equipamento/migrations/*